<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Delete</title>
</head>
<body>

    <h1>Delete Post</h1>
    <h2>Are u sure you want to delete the post?</h2>
    <a href="/delete/post/confirmed/{{data["username"]}}/{{data["post_ID"]}}" onclick="myFunction()">Yes</a>
    <a href="/profile/{{data["username"]}}">No</a>
    <script>
        function myFunction() {
          alert("your post got deleted successfully");
        }
        </script>
</body>
</html>